<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class="panel-title">Sitios de interés</h1>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-bordered" summary="La información está listada en una tabla donde
        cada fila de dicha tabla contiene la información de uno de los sitios de interés">
      <caption class="well well-sm">Toda la información de contacto de los sitios de mayor importancia.</caption>
      <tr>
        <th class="info">
          Sitios
        </th>
      </tr>
      <tr>
        <td>
          <%= link_to "Ministerio de Desarrollo Social de la Nación", "http://www.desarrollosocial.gob.ar/" %><br>
          <strong>Dirección:</strong> Av. 9 de Julio 1925 - Piso 19 (C1073ABA) CABA<br>
          <strong>Teléfonos:</strong> 0800.222.3294 | (011) 4379.3600<br>
          <strong>Web:</strong> <%= link_to "http://www.desarrollosocial.gob.ar/", "http://www.desarrollosocial.gob.ar/" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "INADI - Instituto Nacional contra la Discriminación, la Xenofobia y el Racismo",
                      "http://www.inadi.gob.ar/" %><br>
          <strong>Dirección:</strong> Avenida de Mayo 1401 (C1085ABE) CABA<br>
          <strong>Teléfonos:</strong> 4380-5600 | 4380-5700<br>
          <strong>Web:</strong> <%= link_to "http://www.inadi.gob.ar/", "http://www.inadi.gob.ar/" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "Consejo Nacional de Coordinación de Políticas Sociales de la Nación",
                      "http://www.politicassociales.gob.ar/" %><br>
          <strong>Dirección:</strong> Av. Julio Argentino Roca 782 - 5° Piso (C1067ABP) CABA<br>
          <strong>Teléfono:</strong> (011) 4342-0939<br>
          <strong>Email:</strong> contacto@politicassociales.gob.ar<br>
          <strong>Web:</strong> <%= link_to "http://www.politicassociales.gob.ar/", "http://www.politicassociales.gob.ar/" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "Ministerio de Justicia y Derechos Humanos de la Nación",
                      "http://www.jus.gob.ar/" %><br>
          <strong>Dirección:</strong> Sarmiento 329 (C1041AAG) CABA<br>
          <strong>Teléfono:</strong> (011) 5300-4000<br>
          <strong>Web:</strong> <%= link_to "http://www.jus.gob.ar/", "http://www.jus.gob.ar/" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "Guía de Derivaciones para Personas con Discapacidad - Ministerio de Justicia y Derechos Humanos de la Nación",
                      "http://www.jus.gob.ar/atencion-al-ciudadano/guia-de-derivaciones/personas-con-discapacidad.aspx" %><br>
          <strong>Web:</strong> <%= link_to "http://www.jus.gob.ar/atencion-al-ciudadano/guia-de-derivaciones/personas-con-discapacidad.aspx/",
                                            "http://www.jus.gob.ar/atencion-al-ciudadano/guia-de-derivaciones/personas-con-discapacidad.aspx" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "CONADIS - Comisión Nacional Asesora para la Integración de las Personas con Discapacidad",
                      "http://www.conadis.gob.ar/" %><br>
          <strong>Dirección:</strong>  Av. Julio A. Roca 782 Piso 4 CABA<br>
          <strong>Teléfonos:</strong> (011) 4331-7344 | (011) 4331-3256 | 0800-333-2662<br>
          <strong>Email:</strong> consultas@conadis.gob.ar<br>
          <strong>Web:</strong> <%= link_to "http://www.conadis.gob.ar/", "http://www.conadis.gob.ar/" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "Ministerio de Salud de la Provincia de Buenos Aires",
                      "http://www.ms.gba.gov.ar/" %><br>
          <strong>Dirección:</strong> Av. 51 Nº1120 entre 17 y 18 La Plata<br>
          <strong>Teléfono:</strong> (0221) 429-2700<br>
          <strong>Web:</strong> <%= link_to "http://www.ms.gba.gov.ar/", "http://www.ms.gba.gov.ar/" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "CEDICA - Centro de equitación para personas con discapacidad y carencias",
                      "http://cedica.com.ar/" %><br>
          <strong>Direcciones:</strong>  Calle 44 y 115 (1900) La Plata | Arturo Seguí (1895) La Plata<br>
          <strong>Teléfonos:</strong> (0221) 423-1070 al 78 Interno 304 | (0221) 15-506-6291<br>
          <strong>Email:</strong> equitacionparatodos@cedica.org.ar<br>
          <strong>Web:</strong> <%= link_to "http://cedica.com.ar/", "http://cedica.com.ar/" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "Fundación DISCAR",
                      "http://www.fundaciondiscar.org.ar/" %><br>
          <strong>Dirección:</strong>  Aguilar 2612 CABA<br>
          <strong>Teléfono:</strong> (011) 4783-9515<br>
          <strong>Email:</strong> info@fundaciondiscar.org.ar<br>
          <strong>Web:</strong> <%= link_to "http://www.fundaciondiscar.org.ar/", "http://www.fundaciondiscar.org.ar/" %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to "REDI - Red de los Derechos de las Personas con Discapacidad",
                      "http://www.redi.org.ar/" %><br>
          <strong>Dirección:</strong>  Av. Cabildo 2720, Piso 5to. y 6to, Dpto. "D" (C1428AAW) CABA<br>
          <strong>Teléfonos:</strong> (011) 4981 1428 | (011) 5667 0788<br>
          <strong>Email:</strong> info@redi.org.ar<br>
          <strong>Web:</strong> <%= link_to "http://www.redi.org.ar/", "http://www.redi.org.ar/" %>
        </td>
      </tr>
    </table>
    <%= link_to "Volver al Inicio", root_path, :class => "btn btn-success" %>
  </div>
</div>