<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Info-Igualdad" %></title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "application", :media => "all" %>

  <!-- For third-generation iPad with high-resolution Retina display: -->
  <!-- Size should be 144 x 144 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

  <!-- For iPhone with high-resolution Retina display: -->
  <!-- Size should be 114 x 114 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

  <!-- For first- and second-generation iPad: -->
  <!-- Size should be 72 x 72 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <!-- Size should be 57 x 57 pixels -->
  <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

  <!-- For all other devices -->
  <!-- Size should be 32 x 32 pixels -->
  <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

  <%= javascript_include_tag "application" %>

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Info-Igualdad</a>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to "Inicio", root_path  %></li>
        <li>
          <a class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            Categorias <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="/informacion">Información</a></li>
            <li><a href="#">Beneficios</a></li>
          </ul>
        </li>
        <li><%= link_to "Contacto", "/contacto"  %></li>
        <li><%= link_to "Sitios de interes", "/sitios_de_interes"  %></li>
        <li><%= link_to "Ayuda", "#"  %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-9">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
    <div class="col-lg-3">
      <div class="well sidebar-nav">
        <h3>Mapa del sitio</h3>
        <hr>
        <ul class="nav nav-list">
          <li>Pagina principal</li>
          <li><ul><li><%= link_to "Inicio de Info-Igualdad", root_path  %></li></ul></li>
          <br>
          <li>Categorias</li>
          <li>
            <ul>
              <li><a href="/informacion">Información</a></li>
              <li><a href="#">Beneficios</a></li>
            </ul>
          </li>
          <br>
          <li>Comunicacion</li>
          <li>
            <ul>
              <li><%= link_to "Contacto", "/contacto"  %></li>
            </ul>
          </li>
          <br>
           <li>Otra información</li>
          <li>
            <ul>
              <li><%= link_to "Sitios de interes", "/sitios_de_interes"  %></li>
            </ul>
          </li>
          <br>
           <li>Sobre el sitio</li>
          <li>
            <ul>
              <li><%= link_to "Ayuda", "#"  %></li>
            </ul>
          </li>
        </ul>
      </div><!--/.well -->
    </div><!--/span-->
  </div><!--/row-->

  <footer>
    <p class="text-right">&copy; Info-Igualdad 2016</p>
  </footer>

</div> <!-- /container -->

</body>
</html>
